* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  background-image: url(../image/img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #212121;
  line-height: 1.5;
  text-align: center;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border-radius: 10px;
}

ul,
ol {
  list-style: none;
}
.country-list {
  text-align: left;
  background-color: #e2f3f6;
}
.country-info {
  background-color: #e2f3f6;
  border-radius: 15px;
}
.title {
  font-size: 20px;
  color: #431deb;
  width: 390px;
  margin: 10px auto;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: -3px -3px 20px #99f0a5bf, 5px 5px 20px #919dcc;
  text-shadow: 5px -5px 5px rgba(206, 89, 55, 0.5);
}
